#app {
  width: 300px;
  margin: 0px auto;
}

#app h3 {
  font-size: 1.1em;
  margin-bottom: 0px;
  padding: 0.3em;
  background: #4ac550;
  color: white;
  text-align: center;
}

#app table {
  border-collapse: collapse;
  width: 100%;
}
